<div id="wrapper">
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                初始化参数
            </h1>
            <ol class="breadcrumb">
                <li>当前位置：</li>
                <li><a href="#">首页</a></li>
                <li><a href="#">系统设置</a></li>
                <li class="active">初始化参数</li>
            </ol>
        </div>
        <div class="inner">
            <table id="table">

            </table>
        </div>
    </div>
</div>
<script>
    $("#table").bootstrapTable({ // 对应table标签的id
        url: "/index/project/index", // 获取表格数据的url
        method:'post',
        cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
        striped: true,  //表格显示条纹，默认为false
        pagination: true, // 在表格底部显示分页组件，默认false
        pageList: [10, 20], // 设置页面可以显示的数据条数
        pageSize: 10, // 页面数据条数
        pageNumber: 1, // 首页页码
        sidePagination: 'server', // 设置为服务器端分页
        rowStyle:function(row,index){
            var strclass = {};
            if(row.all<=100){
                strclass = 'success';
            }
            else if(301<=row.all){
                strclass = 'info';
            }
            else if(100<row.all<=300){
                strclass = 'active';
            }

            return { classes: strclass};
        },
        queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求

            return {
                pageSize: params.limit, // 每页要显示的数据条数
                offset: params.offset, // 每页显示数据的开始行号
                sort: params.sort, // 要排序的字段
                sortOrder: params.order, // 排序规则
                dataId: $("#dataId").val() // 额外添加的参数
            }
        },
        sortName: 'id', // 要排序的字段
        sortOrder: 'desc', // 排序规则
        columns: [
            {
                checkbox: true, // 显示一个勾选框
                align: 'center' // 居中显示
            }, {
                field: 'id', // 返回json数据中的name
                title: '编号', // 表格表头显示文字
                align: 'center', // 左右居中
                valign: 'middle' // 上下居中
            }, {
                field: 'name',
                title: '名称',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'remark',
                title: '介绍',
                align: 'center',
                valign: 'middle'
            }, {
                title: "操作",
                align: 'center',
                valign: 'middle',
                width: 160, // 定义列的宽度，单位为像素px
                formatter:actionFormatter,
            }
        ],
        onLoadSuccess: function(){  //加载成功时执行
            console.info("加载成功");
        },
        onLoadError: function(){  //加载失败时执行
            console.info("加载数据失败");
        }

    })
    //操作栏的格式化
    function actionFormatter(value, row, index) {
        var id = value;
        var result = "";
        result += "<a href='/index/project/edit/id/" +row.id+ "' class='btn btn-xs blue' title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        result += "<a href='/index/project/delete/id/" +row.id+ "' class='btn btn-xs red' title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }
</script>
