<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{$title}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
    <link href="/assets/component/strap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/assets/component/strap-datetime/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/assets/component/zTree/zTreeStyle.css" rel="stylesheet">

    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/assets/materialize/js/materialize.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/custom/common.js"></script>


    <script type="text/javascript" src="/assets/component/zTree/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript" src="/assets/component/zTree/jquery.ztree.excheck-3.5.js"></script>
    <script type="text/javascript" src="/assets/component/zTree/jquery.ztree.exedit-3.5.js"></script>
</head>
<body>
{include file="common/menu" /}
{__CONTENT__}
<!-- Bootstrap Js -->
<script src="/assets/component/strap-table/bootstrap-table.min.js"></script>
<script src="/assets/component/strap-table/bootstrap-table-zh-CN.min.js"></script>
<script src="/assets/component/strap-datetime/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/jquery.metisMenu.js"></script>


<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script>
<script src="/assets/js/bootstrapValidator.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
</body>
</html>